

//widget

.widget{

  background: $light-blue;
  margin-bottom: $x1-size;
}

.widget__message{

  color: $off-white;
  padding: $l-size;
  text-align: center;
  border-bottom: 1px solid lighten($light-blue,10%);
  font-size: 1.6rem;
  margin: 0;
}




//wodget header


.widget-header{

  background:$blue;
  color:$off-white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;

}

//

.widget-header__title{

  margin:0
}